*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
}

body{
    background: linear-gradient(120deg, #ff0000, #04ff75da);
}

.cabeçalho{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.cabeçalho img{
    width: 25px;
}

.cabeçalho img:hover{
    transform:scale(1.5);
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.sites img{
    width: 500px;
}

li:hover{
    transform: scale(1.5);
    opacity: 100%;
}

.sites{
    padding: 40px ;
    display: flex;
    align-items: center;
    justify-content: center; 
}